body {
    font-family: 'Noto Serif SC', serif;
}
p {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    line-height: 1.7;
}
.skobeloff {
    color: #07777C
}
.first-capitalize p:first-child:first-letter{
  float: left;
  color: #07777c;
  font-size: 3.4rem;
  padding-top: 0.5rem;
  padding-right: 0.3rem;
}
h2::before{
    content: "› "; |
}
code:before{
    content: "λ. \a";
    color: #07777c;
    white-space: pre-wrap;
    font-weight: 700;
}
ul{ 
    list-style-type: none;
}
code {
    font-family: 'Fira Mono', monospace;
    white-space: pre-wrap;
    padding: 1rem;
    color: #111111;
    background-color: #f7f9f9;
    width: 100%;
    display: block;
}

hr {
    color: #F4F4F4;
    width: 60%;
}
