@font-face {
  font-family: "Gotham Book";
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Book Regular"), url("../res/gotham.otf") format("opentype");
}
body {
  font-family: "Gotham Book" !important;
}

.firamono {
  font-family: "Fira Mono", monospace;
}

.scheherazade {
  font-family: "Scheherazade", serif;
}

.gotham {
  font-family: "Gotham Book" !important;
}

.upcase {
  text-transform: uppercase;
}
.auto {
  margin: auto;
}

.article p {
  line-height: 2;
  font-size: 0.9rem;
}
.article li {
  line-height: 2;
  font-size: 0.9rem;
}
.article hr {
  height: 0.3rem;
  display: block;
  width: 3.5rem;
  color: #333; /* old IE */
  border: none;
  background-color: #333; /* Modern Browsers */
  margin-bottom: 3rem;
}

.article-size {
  line-height: 1.8;
  font-size: 0.9rem;
}

.skobeloff {
  color: #07777c;
}

.first-capitalize p:first-child:first-letter {
  /* float: left; */
  color: #07777c;
  /* font-size: 4.5rem; */
  /* padding-top: 0.7rem; */
  /* margin-top: -0.1rem; */
  /* margin-right: 0.3rem; */
  /* margin-bottom: -0.2rem; */
  /* line-height: 3rem; */
  /* box-sizing: border-box; */
}
.article h2 {
  font-size: 1.5rem;
  font-family: "Fira Mono", serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 400;
  line-height: 3rem;
}
.article h3 {
  line-height: 2rem;
  font-weight: 700;
  font-family: "Fira Mono", serif;
  font-size: 1rem;
  margin-top: 4rem;
  margin-bottom: -0.8rem;
}

.article pre code:before {
  content: "λ. \a";
  line-height: 2;
  color: #07777c;
  white-space: pre-wrap;
  font-weight: 700;
  font-size: 0.9rem;
}

.dashed-list ul {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
  font-size: 0.9rem;
}
.dashed-list ul li:before {
  content: "-"; /* em dash + space*/
  position: absolute;
  left: 0;
}

.no-bullets {
  list-style-type: none;
}

.article code {
  font-family: "Fira Mono", monospace;
  line-height: 2;
  font-size: 0.85rem;
  color: #111111;
  background-color: #f7f9f9;
}

.article pre code {
  white-space: pre-wrap;
  padding: 1rem;
  color: #111111;
  background-color: #f7f9f9;
  width: 100%;
  display: block;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: 1rem;
}

.article blockquote {
  margin-left: 0;
  font-style: italic;
}

.article blockquote:before {
  content: open-quote;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  color: #b7b7b7;
  margin-right: -1rem;
  z-index: -1;
}

.stylish-box {
}

.hypertext-clone,
.hypertext {
}

.ht-row {
}
