<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="Description" content="Author: Marc Coquand" />
    <title>Marc Coquand</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Scheherazade:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <header class="pb5-ns pb2 mh3 mt4-ns mw7 mh5-ns dark-gray ">
    <h3 class="fw5 f6 gotham upcase ttu tracked ">
      <a href="/" class="link black hover-moon-gray fw5"
        ><b>Marc Coquand</b>&nbsp</a
      >
    </h3>
    <div class="stylish-box f6 fw5 ttu tracked gotham b">
      <p class="hypertext ">Software engineering and design.</p>
    </div>
    <script rel="preload" src="/js/hypertext.js"></script>
  </header>
  <body>
    <div class="db mw6 ph3 mh3 mh5-ns f3 flex dark-gray auto">
      <div class="tl-ns ">
        <h1 class="f3 ttu firamono tracked-mega lc-copy ">›Posts</h4>
        <ul class="no-bullets ph0">
          {{#posts}}
          <li class="pv3 ttc ">
            <a class="link skobeloff hover-moon-gray fw5 mb3 f5 " href="{{url}}">
            <div class="firamono">{{date}}</div> {{title}}</a>
          </li>
          {{/posts}}
        </ul>
        <p class="f5 fw5 pt4 pt5-ns pb3-ns">
          Contact me on
          <a
            class="link skobeloff hover-moon-gray  fw5 f5"
            href="https://www.linkedin.com/in/marc-coquand-7449b3123/"
            >Linkedin</a
          >.
        </p>
      </div>
    </div>
  </body>
</html>
