<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{title}}</title>
    <meta name="Description" content="Author: Marc Coquand" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="pb2 mh3 mt4-ns mw7-ns  pb5-ns mh5-ns dark-gray">
      <h3 class="f6 gotham upcase ttu f mid-gray w5 fw3 tracked">
        <a href="/" class="link dark-gray b hover-moon-gray">The Predicate</a>
        <b>/</b> Article
      </h3>
    </header>
    <article class="article dark-gray pb4 pb6-ns mh3">
      <div class="dashed-list f3 pb3 fw5 mw7-ns auto ">
        <h1 class="firamono ttu tracked-mega f1 fw7 lh-copy">{{title}}</h1>
        <p class="fw7 f3 pb0 pt3-ns pb3-ns firamono mid-gray tracked-mega">
          {{date}}
        </p>
        {{{content}}}
        <hr />
        <p>
           Author: Marc Coquand
        </p>
        <p class="f5 fw5">
          <a
            class="link skobeloff hover-moon-gray b fw5 f5"
            href="https://www.linkedin.com/in/marc-coquand-7449b3123/"
            >Linkedin</a
          > |
          <a
            class="link skobeloff hover-moon-gray b fw5 f5"
            href="https://github.com/MarcCoquand"
            >Github</a
          >
        </p>
        <p class="f5 fw5">
        <a href="/"
           class="link skobeloff hover-moon-gray b fw5 f5"
           >‹ View more posts</a>
        </p>
      </div>
    </article>
  </body>
</html>
